{% extends "base.html" %}

{% block content %}
<h1>Chào {{ email }}</h1>
<div class="menu">
    <a href="{{ url_for('create_key') }}">Tạo chữ ký mới</a>
    <a href="{{ url_for('sign_pdf') }}">Ký PDF</a>
    <a href="{{ url_for('verify') }}">Xác minh PDF</a>
</div>

<h2>Danh sách chữ ký</h2>
<ul>
    {% for sig in signatures %}
    <li>
        <label>Chữ ký: <p style="display: inline; font-weight: normal">{{ sig.name }}</p></label>
        <label>Ngày Tạo: <p style="display: inline; font-weight: normal">{{ sig.created_at }}</p></label>
        <a href="{{ url_for('delete_key', key_id=sig.id) }}" class="delete-btn">Xóa</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
